.container{
    max-width: 900px;
    margin: 0 auto;
    border:1px solid black;
    background-color: skyblue;
}
.pregunta{
    padding: 1em;
}
.ocss{
    text-align: center;
    padding-top: 1em;
}